{
  "tabWidth": 2,
  "semi": false,
  "doubleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "doubleQuote": true
      }
    }
  ]
}
